@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  background: #f4f3ec;
}
.dark {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.55) 36%,
    rgba(0, 0, 0, 0.85) 67.75%,
    #000000 89.5%
  );
}
.shd {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.scroll::-webkit-scrollbar {
  display: none;
}
.scroll {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 23%;
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.custom-checkbox {
  appearance: none;
  background-color: #fff;
}

progress {
  appearance: none;
  height: 18px;
  width: 300px;
  border-radius: 100px;

  /* Chrome and Safari */
  &::-webkit-progress-bar {
    background: #d9d9d9;
    border-radius: 100px;
  }

  &::-webkit-progress-value {
    background-color: #fda600;
    border-radius: 100px;
  }

  /* Firefox */
  &::-moz-progress-bar {
    background-color: #fda600;
    border-radius: 100px;
  }
}
