{% extends 'accounts/email/base_email.html' %}

{% block title %}Password Reset Request - Fashionistar{% endblock %}

{% block header_text %}Fashionistar - Password Reset Request{% endblock %}

{% block content %}
    <p>Hi there!</p>
    <p>You requested a password reset. Use this OTP to proceed:</p>

    <p style="text-align: center;">
        <span class="otp">{{ otp }}</span>
    </p>
    <p style="text-align: center;">Expires in {{ time }}</p>

    <p>Best Regards,<br>The Fashionistar Team</p>
{% endblock %}